$base-color: #17141F; 

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  z-index: 0;
  top: -42px;
}

body {
  background-color: $base-color;
}